<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Aggregates.NET" version="0.1.0.35" targetFramework="net45" userInstalled="true" />
  <package id="Aggregates.NET.Domain" version="0.1.0.35" targetFramework="net45" userInstalled="true" />
  <package id="NServiceBus" version="5.2.0" targetFramework="net45" userInstalled="true" />
  <package id="ServiceStack.Text" version="4.0.40" targetFramework="net45" userInstalled="true" />
  <package id="Stateless" version="2.5.15.0" targetFramework="net45" userInstalled="true" />
</packages>