<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NServiceBus" version="4.5.0" targetFramework="net45" />
  <package id="NServiceBus.Host" version="4.5.0" targetFramework="net45" />
  <package id="NServiceBus.Interfaces" version="4.5.0" targetFramework="net45" />
  <package id="RavenDB.Client" version="2.5.2874" targetFramework="net45" />
  <package id="ServiceStack" version="4.0.18" targetFramework="net45" />
  <package id="ServiceStack.Client" version="4.0.18" targetFramework="net45" />
  <package id="ServiceStack.Common" version="4.0.18" targetFramework="net45" />
  <package id="ServiceStack.Interfaces" version="4.0.18" targetFramework="net45" />
  <package id="ServiceStack.Text" version="4.0.18" targetFramework="net45" />
</packages>