<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AmplifyJS" version="1.1.2" targetFramework="net45" />
  <package id="amplifyjs.TypeScript.DefinitelyTyped" version="0.8.9" targetFramework="net45" />
  <package id="FluentValidation" version="5.5.0.0" targetFramework="net45" />
  <package id="jQuery" version="2.1.1" targetFramework="net45" />
  <package id="jquery.TypeScript.DefinitelyTyped" version="1.5.8" targetFramework="net45" />
  <package id="Knockout.Mapping" version="2.4.0" targetFramework="net45" />
  <package id="knockout.mapping.TypeScript.DefinitelyTyped" version="0.1.2" targetFramework="net45" />
  <package id="knockout.TypeScript.DefinitelyTyped" version="0.6.7" targetFramework="net45" />
  <package id="knockoutjs" version="3.2.0" targetFramework="net45" />
  <package id="log4net" version="2.0.3" targetFramework="net45" />
  <package id="NServiceBus" version="5.1.2" targetFramework="net45" />
  <package id="NServiceBus.StructureMap" version="5.0.1" targetFramework="net45" />
  <package id="ServiceStack" version="4.0.34" targetFramework="net45" />
  <package id="ServiceStack.Api.Swagger" version="4.0.34" targetFramework="net45" />
  <package id="ServiceStack.Client" version="4.0.34" targetFramework="net45" />
  <package id="ServiceStack.Common" version="4.0.34" targetFramework="net45" />
  <package id="ServiceStack.Interfaces" version="4.0.34" targetFramework="net45" />
  <package id="ServiceStack.Logging.Log4Net" version="4.0.34" targetFramework="net45" />
  <package id="ServiceStack.OrmLite" version="4.0.34" targetFramework="net45" />
  <package id="ServiceStack.Razor" version="4.0.34" targetFramework="net45" />
  <package id="ServiceStack.Redis" version="4.0.34" targetFramework="net45" />
  <package id="ServiceStack.Text" version="4.0.34" targetFramework="net45" />
  <package id="structuremap" version="3.1.4.143" targetFramework="net45" />
</packages>