<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" requirePermission="false" />
    <section name="MessageForwardingInCaseOfFaultConfig" type="NServiceBus.Config.MessageForwardingInCaseOfFaultConfig, NServiceBus.Core" />
    <section name="UnicastBusConfig" type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core" />
    <section name="AuditConfig" type="NServiceBus.Config.AuditConfig, NServiceBus.Core" />
  </configSections>
  <log4net>
    <appender name="LogFileAppender" type="log4net.Appender.FileAppender">
      <file value="../../Logs/Presentation.txt" />
      <appendToFile value="true" />
      <encoding value="utf-8" />
      <layout type="log4net.Layout.SimpleLayout" />
    </appender>
    <root>
      <level value="INFO" />
      <appender-ref ref="LogFileAppender" />
    </root>
  </log4net>
  <system.web>
    <compilation targetFramework="4.5" debug="true" />
    <httpRuntime targetFramework="4.5" />
    <httpHandlers>
      <add path="*" type="ServiceStack.HttpHandlerFactory, ServiceStack" verb="*" />
    </httpHandlers>
  </system.web>
  <!-- Required for IIS 7.0 (and above?) -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add path="*" name="ServiceStack.Factory" type="ServiceStack.HttpHandlerFactory, ServiceStack" verb="*" preCondition="integratedMode" resourceType="Unspecified" allowPathInfo="true" />
    </handlers>
  </system.webServer>
  <!--<MessageForwardingInCaseOfFaultConfig
    ErrorQueue="The queue to which errors will be forwarded." />-->
  <MessageForwardingInCaseOfFaultConfig ErrorQueue="error" />
  <!--<UnicastBusConfig
    DistributorControlAddress="The address for sending control messages to the distributor."
    DistributorDataAddress="The distributor's data address, used as the return address of messages sent by this endpoint."
    TimeoutManagerAddress="The address that the timeout manager will use to send and receive messages.">
    <MessageEndpointMappings>
      To register all message types defined in an assembly:
      <add Assembly="assembly" Endpoint="queue@machinename" />

      To register all message types defined in an assembly with a specific namespace Demo.(it does not include sub namespaces):
      <add Assembly="assembly" Namespace="namespace" Endpoint="queue@machinename" />

      To register a specific type in an assembly:
      <add Assembly="assembly" Type="type fullname (http://msdn.microsoft.com/en-us/library/system.type.fullname.aspx)" Endpoint="queue@machinename" />
    </MessageEndpointMappings>
  </UnicastBusConfig>-->
  <UnicastBusConfig>
    <MessageEndpointMappings>
      <add Assembly="Domain.Inventory.Messages" Endpoint="domain" />
      <add Assembly="Application.RavenDB.Inventory.Messages" Endpoint="application.ravendb" />
    </MessageEndpointMappings>
  </UnicastBusConfig>
  <!--<AuditConfig
    QueueName="The address to which messages received will be forwarded."
    OverrideTimeToBeReceived="The time to be received set on forwarded messages, specified as a timespan see http://msdn.microsoft.com/en-us/library/vstudio/se73z7b9.aspx"  />-->
  <AuditConfig QueueName="audit" />
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.13.0" newVersion="1.2.13.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="oauth.auth0.AppId" value="xX3Y5a2iQRFVQs4IrNTkLqvKwGAUk8tQ" />
    <add key="oauth.auth0.AppSecret" value="oIb4nwStUAoW_lpWFwPdHI6nqQDtRUJggSMe_sx_IHiLS0pseQiVmh2a2GyMWk-e" />
    <add key="oauth.auth0.OAuthServerUrl" value="https://forte.auth0.com" />
    <add key="servicestack:license" value="2107-e1JlZjoyMTA3LE5hbWU6QXdlc29mdCBTb2x1dGlvbnMsVHlwZTpJbmRpZSxIYXNoOmxLbmx0eWpOVE1SNEJzMEFRSlpyRTN6WkxudHBydzlBQ3BjRldLY0x4L2dHbDM3NThEWmtXNmtYRjRKTFBESERlSmE0Z1RQUnMxV3pnODFlVnI5enA3cWlxRTFOd01QN0hJdnpxL0F0bDZramxOd2oyN0JGdU5BYXY5YkE1VDZMdEZDQldJMXhQVFU4bVVmbThyTDF6Z3hLbGtGeGx4YVlDckNKWHFVNlNmMD0sRXhwaXJ5OjIwMTYtMDEtMDh9" />
  </appSettings>
</configuration>