<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings>
    <add name="Raven" connectionString="Url=http://localhost:8080;Database=Demo.Development" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="Elastic" connectionString="Url=http://localhost:9200;DefaultIndex=demo.development" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  <MessageForwardingInCaseOfFaultConfig ErrorQueue="error.development" xdt:Transform="SetAttributes(ErrorQueue)" />
  <UnicastBusConfig>
    <MessageEndpointMappings xdt:Transform="Replace">
      <add Assembly="Domain.Accounting.Messages" Endpoint="domain.development" />
      <add Assembly="Domain.Authentication.Messages" Endpoint="domain.development" />
      <add Assembly="Domain.Configuration.Messages" Endpoint="domain.development" />
      <add Assembly="Domain.HumanResources.Messages" Endpoint="domain.development" />
      <add Assembly="Domain.Relations.Messages" Endpoint="domain.development" />
      <add Assembly="Domain.Warehouse.Messages" Endpoint="domain.development" />
    </MessageEndpointMappings>
  </UnicastBusConfig>
  <AuditConfig QueueName="audit.development" xdt:Transform="SetAttributes(QueueName)" />

  <appSettings>
    <add key="endpoint" value="application.servicestack.development"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
</configuration>