<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" requirePermission="false" />
    <section name="MessageForwardingInCaseOfFaultConfig" type="NServiceBus.Config.MessageForwardingInCaseOfFaultConfig, NServiceBus.Core" />
    <section name="UnicastBusConfig" type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core" />
    <section name="AuditConfig" type="NServiceBus.Config.AuditConfig, NServiceBus.Core" />
  </configSections>
  <log4net>
    <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender">
      <threshold value="INFO" />
      <applicationName value="Fortissimo - Seeding" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    <appender name="LogFileAppender" type="log4net.Appender.FileAppender">
      <threshold value="DEBUG" />
      <file value="../../../../Logs/Seed.txt" />
      <appendToFile value="true" />
      <encoding value="utf-8" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <threshold value="INFO" />
      <layout type="log4net.Layout.SimpleLayout" />
    </appender>
    <root>
      <appender-ref ref="ConsoleAppender" />
      <appender-ref ref="LogFileAppender" />
      <appender-ref ref="EventLogAppender" />
    </root>
  </log4net>
  <connectionStrings>
    <!-- <add name="Demo" connectionString="DataDir=~\Demo.Data.RavenDB;Enlist=False" />-->
    <add name="Raven" connectionString="Url=http://localhost:8080;Database=Demo" />
    <add name="Elastic" connectionString="Url=http://localhost:9200;DefaultIndex=demo" />
  </connectionStrings>
  <MessageForwardingInCaseOfFaultConfig ErrorQueue="error" />
  <UnicastBusConfig>
    <MessageEndpointMappings>
      <add Assembly="Domain.Accounting.Messages" Endpoint="domain" />
      <add Assembly="Domain.Authentication.Messages" Endpoint="domain" />
      <add Assembly="Domain.Configuration.Messages" Endpoint="domain" />
      <add Assembly="Domain.HumanResources.Messages" Endpoint="domain" />
      <add Assembly="Domain.Relations.Messages" Endpoint="domain" />
      <add Assembly="Domain.Warehouse.Messages" Endpoint="domain" />
    </MessageEndpointMappings>
  </UnicastBusConfig>
  <AuditConfig QueueName="audit" />
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.13.0" newVersion="1.2.13.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="endpoint" value="seed" />
  </appSettings>
</configuration>