<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Aggregates.NET" version="0.3.0.517-beta" targetFramework="net461" userInstalled="true" developmentDependency="true" />
  <package id="Elasticsearch.Net" version="2.4.6" targetFramework="net461" userInstalled="true" />
  <package id="Metrics.NET" version="0.3.7" targetFramework="net461" />
  <package id="NEST" version="2.4.6" targetFramework="net461" userInstalled="true" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net461" userInstalled="true" />
  <package id="NLog" version="4.3.10" targetFramework="net461" />
  <package id="NServiceBus" version="6.0.0" targetFramework="net461" userInstalled="true" />
  <package id="NServiceBus.Callbacks" version="1.0.0" targetFramework="net461" />
  <package id="NServiceBus.Newtonsoft.Json" version="1.0.0" targetFramework="net461" />
  <package id="NServiceBus.NLog" version="2.0.0" targetFramework="net461" />
  <package id="NServiceBus.RabbitMQ" version="4.1.0" targetFramework="net461" />
  <package id="NServiceBus.StructureMap" version="6.0.0" targetFramework="net461" userInstalled="true" />
  <package id="protobuf-net" version="2.1.0" targetFramework="net461" />
  <package id="RabbitMQ.Client" version="4.1.1" targetFramework="net461" />
  <package id="RestSharp" version="105.2.3" targetFramework="net461" />
  <package id="RiakClient" version="2.3.0" targetFramework="net461" />
  <package id="ServiceStack.Text" version="4.5.4" targetFramework="net461" userInstalled="true" />
  <package id="StructureMap" version="4.4.1" targetFramework="net461" userInstalled="true" />
</packages>