<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings>
    <add name="Raven" connectionString="Url=http://localhost:8080;Database=Demo.Development" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>

  </connectionStrings>
  <MessageForwardingInCaseOfFaultConfig ErrorQueue="error.development" xdt:Transform="SetAttributes(ErrorQueue)"/>
  <AuditConfig QueueName="audit.development" xdt:Transform="SetAttributes(QueueName)"/>

  <appSettings>
    <add key="endpoint" value="domain.production"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="eventstorePath" value="C:\eventstore.production.db"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="eventstoreTcp" value="5111"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="eventstoreHttp" value="5113"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
</configuration>