<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Aggregates.NET" version="0.0.4.9" targetFramework="net45" developmentDependency="true" />
  <package id="Aggregates.NET.RavenDB" version="0.0.4.9" targetFramework="net45" developmentDependency="true" />
  <package id="FluentValidation" version="5.5.0.0" targetFramework="net45" />
  <package id="log4net" version="2.0.3" targetFramework="net45" />
  <package id="NEventStore" version="5.1.0" targetFramework="net45" />
  <package id="NEventStore.Persistence.RavenDB" version="5.0.0.86" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net45" />
  <package id="NServiceBus" version="5.1.2" targetFramework="net45" />
  <package id="NServiceBus.Host" version="6.0.0" targetFramework="net45" />
  <package id="NServiceBus.Log4Net" version="1.0.0" targetFramework="net45" />
  <package id="NServiceBus.StructureMap" version="5.0.1" targetFramework="net45" />
  <package id="RavenDB.Client" version="2.5.2916" targetFramework="net45" />
  <package id="structuremap" version="3.1.4.143" targetFramework="net45" />
</packages>