<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Aggregates.NET" version="0.2.1.345" targetFramework="net452" />
  <package id="Aggregates.NET.Consumer" version="0.2.1.345" targetFramework="net452" />
  <package id="Aggregates.NET.Domain" version="0.2.1.345" targetFramework="net452" />
  <package id="Aggregates.NET.GetEventStore" version="0.2.1.345" targetFramework="net452" />
  <package id="EventStore.Client" version="3.7.0" targetFramework="net452" />
  <package id="EventStore.Client.Embedded" version="3.7.0" targetFramework="net452" />
  <package id="FluentValidation" version="6.2.1.0" targetFramework="net461" />
  <package id="Metrics.NET" version="0.3.7" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
  <package id="NLog" version="4.3.5" targetFramework="net452" />
  <package id="NServiceBus" version="5.2.14" targetFramework="net452" />
  <package id="NServiceBus.NLog" version="1.1.0" targetFramework="net452" />
  <package id="NServiceBus.RabbitMQ" version="3.3.1" targetFramework="net452" />
  <package id="NServiceBus.StructureMap" version="5.0.1" targetFramework="net461" />
  <package id="protobuf-net" version="2.0.0.668" targetFramework="net452" />
  <package id="RabbitMQ.Client" version="3.6.2" targetFramework="net452" />
  <package id="RiakClient" version="2.3.0" targetFramework="net452" />
  <package id="structuremap" version="3.1.7.350" targetFramework="net461" />
</packages>