<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentValidation" version="5.4.0.0" targetFramework="net45" />
  <package id="log4net" version="2.0.3" targetFramework="net45" />
  <package id="NES" version="4.0.4" targetFramework="net45" />
  <package id="NES.NEventStore" version="4.0.4" targetFramework="net45" />
  <package id="NES.NEventStore.Raven" version="4.0.4" targetFramework="net45" />
  <package id="NES.NServiceBus" version="4.0.4" targetFramework="net45" />
  <package id="NEventStore.Persistence.RavenPersistence-Signed" version="4.1.0.10" targetFramework="net45" />
  <package id="NEventStore-Signed" version="4.1.0.10" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net45" />
  <package id="NServiceBus" version="4.6.3" targetFramework="net45" />
  <package id="NServiceBus.Host" version="4.6.3" targetFramework="net45" />
  <package id="NServiceBus.Interfaces" version="4.6.3" targetFramework="net45" />
  <package id="NServiceBus.StructureMap" version="4.6.3" targetFramework="net45" />
  <package id="RavenDB.Client" version="2.5.2915" targetFramework="net45" />
  <package id="structuremap" version="2.6.4.1" targetFramework="net45" />
</packages>