<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentValidation" version="5.1.0.0" targetFramework="net45" />
  <package id="NServiceBus.Interfaces" version="4.6.1" targetFramework="net45" />
  <package id="ProxyFoo" version="0.2.2" targetFramework="net45" />
  <package id="RavenDB.Client" version="2.5.2878" targetFramework="net45" />
</packages>