<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings xdt:Transform="Replace">
    <add name="Elastic" connectionString="Url=http://192.168.1.10:9200;DefaultIndex=Demo.development" />
    <add name="RabbitMq" connectionString="host=localhost;Username=admin;Password=admin;RequestedHeartbeat=5;DequeueTimeout=5;RetryDelay=5" />
    <add name="EventStore" connectionString="host=192.168.1.252:3112" />

  </connectionStrings>
  <MessageForwardingInCaseOfFaultConfig ErrorQueue="error.development" xdt:Transform="SetAttributes(ErrorQueue)" />
  <UnicastBusConfig>
    <MessageEndpointMappings xdt:Transform="Replace">
    </MessageEndpointMappings>
  </UnicastBusConfig>

  <appSettings xdt:Transform="Replace">
    <add key="endpoint" value="application.elastic.development" />
    <add key="destination.servicestack" value="presentation.servicestack.development"/>
    <add key="license" value="C:\license.xml"  />
    <add key="logsdir" value="C:/Logs"/>
  </appSettings>
</configuration>