<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="MessageForwardingInCaseOfFaultConfig" type="NServiceBus.Config.MessageForwardingInCaseOfFaultConfig, NServiceBus.Core" />
    <section name="UnicastBusConfig" type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core" />
    <section name="AuditConfig" type="NServiceBus.Config.AuditConfig, NServiceBus.Core" />
    
  </configSections>
  <system.web>
    <customErrors mode="Off" />
    <compilation targetFramework="4.6.1" debug="true" />
    <httpRuntime targetFramework="4.5.2" requestValidationMode="2.0" />
    <httpHandlers>
      <add path="*" type="ServiceStack.HttpHandlerFactory, ServiceStack" verb="*" />
    </httpHandlers>
  </system.web>
  <system.webServer>
    <urlCompression doStaticCompression="true" doDynamicCompression="false" />
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrl-Integrated-4.0" />
      <add name="ExtensionlessUrl-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,DELETE,PUT" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <add path="*" name="ServiceStack.Factory" type="ServiceStack.HttpHandlerFactory, ServiceStack" verb="*" preCondition="integratedMode" resourceType="Unspecified" allowPathInfo="true" />
    </handlers>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="GZipRequest" type="Pulse.Presentation.ServiceStack.Module.GZipRequest, Presentation.ServiceStack" preCondition="integratedMode" />
    </modules>
  </system.webServer>
  <connectionStrings>
    <add name="Metric"
      connectionString="Url=http://192.168.1.252:8080;StashId=7089435b-a5a2-423b-baea-e0d6fde31b81;Stash=Metrics;Secret=pulse;Event=ServiceStack"/>
    <add name="Pulse" connectionString="Url=http://192.168.1.252:8080;StashId=7189435b-a5a2-423b-baea-e0d6fde31b81;Stash=Pulse;Secret=pulse"/>
    <add name="RabbitMq" connectionString="host=192.168.1.11;Username=admin;Password=admin;RequestedHeartbeat=5"/>
    <!--<add name="SQL" connectionString="Data Source=192.168.1.17;initial catalog=Pulse.Development;integrated security=false;user id=sa;password=0nnbjk;pooling=True;max pool size=500;multipleactiveresultsets=True;App=Pulse.Development" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <MessageForwardingInCaseOfFaultConfig ErrorQueue="error.development" />
  <UnicastBusConfig>
    <MessageEndpointMappings>
      <add Assembly="Domain.Authentication.Messages" Endpoint="domain.development"/>
      <add Assembly="Domain.Dashboard.Messages" Endpoint="domain.development"/>
      <add Assembly="Domain.Network.Messages" Endpoint="domain.development"/>
    </MessageEndpointMappings>
  </UnicastBusConfig>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RabbitMQ.Client" publicKeyToken="89e7d7c5feba84ce" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.6.5.0" newVersion="3.6.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.103.0" newVersion="1.0.103.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NServiceBus.Core" publicKeyToken="9fc386479f8a226c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="jwt.AuthKeyBase64" value="HIrV4QFjaLVeNT/PCQgS2PSJbh61Rgli6YYSjFw12aw="/>
    <add key="servicestack:license"
      value="3331-e1JlZjozMzMxLE5hbWU6QXdlc29mdCBTb2x1dGlvbnMsVHlwZTpJbmRpZSxIYXNoOnVOKzBjRXNkVWZZeVhiOTNTNnZDNmJ3dDZGOGI3Ump3ekFsZUU3MXF1NkJVbDd2Q2IwdDBydnpmU1lsU3F3VkUwd3lQNnNhSkpBVHRsN0NsSm1hNFA3aENZd1V1eGtFU0ExK2hxRlVISTY2NmtsNlRCWTlsMHJYQWFjdmhlR0dYUy9RYXBLRFpFZllzRHNMdXZNb0lZdTU1amZwbUlhRjBKRTlBNVpXZGxYVT0sRXhwaXJ5OjIwMTctMDEtMDh9"/>
    <add key="endpoint" value="presentation.servicestack.development"/>
    <add key="destination.riak" value="application.riak.development"/>
    <add key="destination.raven" value="application.raven.development"/>
    <add key="destination.elastic" value="application.elastic.development"/>
    <add key="destination.domain" value="domain.development"/>
    <add key="destination.servicestack" value="presentation.servicestack.development"/>
    <add key="license" value="C:/pulse/license.xml"/>
    <add key="logsdir" value="C:/Pulse/Logs"/>
  </appSettings>
</configuration>