<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Aggregates.NET" version="0.2.1.345" targetFramework="net452" />
  <package id="Metrics.NET" version="0.3.7" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
  <package id="NLog" version="4.3.5" targetFramework="net452" />
  <package id="NServiceBus" version="5.2.14" targetFramework="net452" />
  <package id="NServiceBus.NLog" version="1.1.0" targetFramework="net452" />
  <package id="NServiceBus.RabbitMQ" version="3.3.1" targetFramework="net452" />
  <package id="NServiceBus.StructureMap" version="5.0.1" targetFramework="net45" />
  <package id="RabbitMQ.Client" version="3.6.2" targetFramework="net452" />
  <package id="ServiceStack" version="4.0.60" targetFramework="net452" />
  <package id="ServiceStack.Api.Swagger" version="4.0.60" targetFramework="net452" />
  <package id="ServiceStack.Client" version="4.0.60" targetFramework="net452" />
  <package id="ServiceStack.Common" version="4.0.60" targetFramework="net452" />
  <package id="ServiceStack.Interfaces" version="4.0.60" targetFramework="net452" />
  <package id="ServiceStack.Logging.NLog" version="4.0.60" targetFramework="net452" />
  <package id="ServiceStack.OrmLite" version="4.0.60" targetFramework="net452" />
  <package id="ServiceStack.OrmLite.SqlServer" version="4.0.60" targetFramework="net452" />
  <package id="ServiceStack.Redis" version="4.0.60" targetFramework="net452" />
  <package id="ServiceStack.Server" version="4.0.60" targetFramework="net452" />
  <package id="ServiceStack.Text" version="4.0.60" targetFramework="net452" />
  <package id="structuremap" version="3.1.7.350" targetFramework="net461" />
</packages>