<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <system.web>
    <compilation debug="true" xdt:Transform="SetAttributes(debug)" />
  </system.web>
  <connectionStrings xdt:Transform="Replace">
    <add name="RabbitMq" connectionString="host=localhost;Username=admin;Password=admin;RequestedHeartbeat=5;DequeueTimeout=5;RetryDelay=5" />
    <add name="SQL" connectionString="Data Source=SQL;initial catalog=Demo.Local;integrated security=false;pooling=True;max pool size=2000;multipleactiveresultsets=True;App=Demo.Local" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <MessageForwardingInCaseOfFaultConfig ErrorQueue="error.local" xdt:Transform="SetAttributes(ErrorQueue)" />
  <UnicastBusConfig>
    <MessageEndpointMappings xdt:Transform="Replace">
      <add Assembly="Domain.Authentication.Messages" Endpoint="domain.local" />
      <add Assembly="Domain.Dashboard.Messages" Endpoint="domain.local" />
      <add Assembly="Domain.Network.Messages" Endpoint="domain.local" />
    </MessageEndpointMappings>
  </UnicastBusConfig>
  
  <appSettings xdt:Transform="Replace">
    <add key="jwt.AuthKeyBase64" value="HIrV4QFjaLVeNT/PCQgS2PSJbh71Rgli6YYSjFw12aw=" />
    
    <add key="endpoint" value="presentation.servicestack.local"  />
    <add key="destination.riak" value="application.riak.local"/>
    <add key="destination.raven" value="application.raven.local"/>
    <add key="destination.elastic" value="application.elastic.local"/>
    <add key="destination.domain" value ="domain.local"/>
    <add key="destination.servicestack" value="presentation.servicestack.local"/>
    <add key="license" value="C:\license.xml"  />
    <add key="logsdir" value="../../../Logs"/>
  </appSettings>
</configuration>