<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Aggregates.NET" version="0.0.4.9" targetFramework="net45" developmentDependency="true" />
  <package id="NEventStore" version="5.1.0" targetFramework="net45" />
  <package id="NServiceBus" version="5.1.2" targetFramework="net45" />
</packages>